@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --cor-branco: #ffffff;
    --cor-preto: #000000;
    --cor-erro: #d81616;

    --cor-principal: #72afc1;
    --cor-secundaria: #7e4e60;
    --cor-terciaria: #8ee82a;

    --tamanho-fonte: 16px;
    --peso-fonte: 400;
    --familia-fonte: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
    font: normal var(--peso-fonte) var(--tamanho-fonte) / 1.2rem var(--familia-fonte);
    height: 100vh;
    max-width: 100vw;
}

app-login, app-cadastrar {
    width: 50%;
}

form {
    background-color: var(--cor-principal);
    border-radius: 1rem;
    box-shadow: 1px 1px 10px var(--cor-principal);
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
}

form:first-child legend {
    color: var(--cor-secundaria);
    font-size: calc(var(--tamanho-fonte) * 2.5);
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
}

#erro {
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--cor-erro);
    display: block;
    font-size: calc(var(--tamanho-fonte) * 2);
    font-weight: 500;
    margin: .5rem 0 1rem;
    padding: 1rem;
    text-align: center;
    width: auto;
}

form:first-child label {
    color: var(--cor-secundaria);
    display: block;
    font-size: calc(var(--tamanho-fonte) * 1.2);
    font-weight: 500;
    margin-bottom: .5rem;
}

form:first-child label:not(label[for="nome"]) {
    margin-top: .9rem;
}

form:first-child input {
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 10px #00000077;
    box-sizing: border-box;
    color: var(--cor-secundaria);
    font-size: calc(var(--tamanho-fonte) * 1.2);
    margin: 0 0 .3rem;
    outline: none;
    padding: 1.1rem;
    width: 100%;
}

form:first-child input::placeholder {
    color: var(--cor-secundaria);
    font-weight: 500;
}

form:first-child input:hover,
form:first-child input:focus,
.icone:hover input {
    outline: solid var(--cor-secundaria) 2px;
    transform: scale(1.02);
}

.senha, .confirmaSenha {
    position: relative;
}

.erros {
    margin-bottom: 1.2rem;
}

.botoes {
    padding-top: 1rem;
}

button {
    background-color: var(--cor-terciaria);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px var(--cor-terciaria);
    box-sizing: border-box;
    color: var(--cor-branco);
    cursor: pointer;
    font-size: calc(var(--tamanho-fonte) * 1.6);
    font-weight: 700;
    margin-top: 1rem;
    outline: none;
    padding: .5rem 1rem;
    transition: all .4s ease-in-out;
    width: 50%;
}

button:hover,
button:focus {
    background-color: #71b820;
    transform: scale(1.02);
}

nav {
    width: 100%;
}

ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

li button {
    width: auto;
}
